<%- model_class = Profile -%>
<div class="page-header">
<h1>Perfil # <%= @profile.id %></h1>
</div>
<div class='profile'>
<p><b>Nombre</b>:<%= @profile.name %></p>
<p><b>Descripcion</b>:<%= @profile.description %></p>
</div>