<%- model_class = CostCenter -%>
<div class="page-header">
<h1>Centro De Costos</h1>
</div>
<div class='cost_center'>
<p><b>Numero</b>: <%= @cost_center.id %></p>
<p><b>Centro De Costos</b>: <%= @cost_center.cost_center %></p>
<p><b>Codigo</b>: <%= @cost_center.code %></p>
<p><b>Estado</b>: <%= @cost_center.state %></p>
</div>
