<%- model_class = HistoryOfVehicle -%>
<div class="page-header">
<h1>Historial De Vehiculo</h1>
</div>
<div class='history_of_vehicle'>
<p><b>Numero</b>: <%= @history_of_vehicle.id %></p>
<p><b>Placa</b>: <%= @history_of_vehicle.plate %></p>
<p><b>Cliente</b>: <%= @history_of_vehicle.customer %></p>
<p><b>Fecha</b>: <%= @history_of_vehicle.date %></p>
</div>
