<%- model_class = FormOfPayment -%>
<div class="page-header">
<h1>Forma De Pago</h1>
</div>
<div class='form_of_payment'>
<p><b>Numero</b>: <%= @form_of_payment.id %></p>
<p><b>Nombre</b>: <%= @form_of_payment.name %></p>
<p><b>Siglas</b>: <%= @form_of_payment.acronym %></p>
</div>
