<%- model_class = SaleByCostCenter -%>
<div class="page-header">
<h1>Venta Por Centro De Costo</h1>
</div>
<div class='sale_by_cost_center'>
<p><b>Numero</b>: <%= @sale_by_cost_center.id %></p>
<p><b>Desde</b>: <%= @sale_by_cost_center.from %></p>
<p><b>Hasta</b>: <%= @sale_by_cost_center.to %></p>
<p><b>Centro De Costos</b>: <%= @sale_by_cost_center.cost_center_id %></p>
</div>
